
label{
    background-color: #2649e4;
    border-radius: 5px;
    padding: 3px;
    padding-left: 25px;
    color: rgb(58, 34, 34);
  }
  
  .toc ul>li {
    margin: 5px;
    margin-top:10px ;
    /* padding-: 1px; */
    border: 1px solid rgb(151, 177, 164);
    border-radius: 8px;
    font-size: 18px;
    font-family: "Ropa Sans";
    padding-left: 5px;
    background-color: rgb(225, 226, 225);
  }
  .toc ul>li>a{
    font-size: 16px;
    font-family: "Ropa Sans";
    padding-left: 5px;
  }
  
  .toc ul>li>ul>li {
    margin: 5px;
    /* padding-: 1px; */
    border: 1px solid rgb(160, 182, 171);
    border-radius: 8px;
    font-size: 18px;
    font-family: "Ropa Sans";
    padding-left: 5px;
    background-color: rgb(247, 219, 210);
  }
  
  .toc ul>li>ul>li>ul>li {
    /* margin: 5px; */
    /* padding-: 1px; */
    border: 1px solid rgb(160, 182, 171);
    border-radius: 10px;
    font-size: 18px;
    font-family: "Ropa Sans";
    padding-left: 5px;
    margin-left: 15px!important;
    margin-right: 15px!important;
    background-color: rgb(238, 195, 178);
  }
  
  
  .toc li{
    padding-top: 5px;
    padding-bottom: 5px;
   
  }
  
  ali>a {
    margin: 5px;
    /* padding-: 1px; */
    background-color: rgb(247, 219, 210);
    border: 1px solid rgb(10, 110, 60);
    border-radius: 8px;
    font-size: 18px;
    font-family: "Ropa Sans";
    padding: 5px;
  }
  
  
  
  .docbody img{
    /* max-width: 90vw!important; */
    display: block;
     margin-left: auto;
    margin-right: auto;
   /* width: 80%; */
    margin-top: 5px;
    /* padding: 30px; */
    border-radius: 10px;
    border-color: #000000!important;
    border-style: solid!important;
    border-width: 1px!important;
  }
  
  .body-scroll-box{
    overflow: scroll!important;
    overflow-y: scroll!important;
    overflow-x: hidden!important;
    scrollbar-width: 140px;
  }
  
  .docbody  .image-alt{
    color: rgb(103, 131, 119);
    max-width: 90vw!important;
    display: block;
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    font-size: 18px;
  }
  
  
  .docbody hr{
    border: 1px solid rgb(116, 134, 125);
    margin-top: 20px!important;
    margin-bottom: 20px!important;
  }
  .tocbody .title{
    font-size: 24px!important;
    font-family: "Ropa Sans";
    padding-left: 25px;
    padding-top: 10px;
  }
  
  .docbody h1{
    font-size: 48px!important;
    font-family: "Ropa Sans";
    padding-left: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
  /* background-color: #08f; */
    border-bottom: 1px solid rgb(170, 170, 170);
    margin-bottom: 23px!important;
  }
  .docbody h2{
    font-size: 38px!important;
    font-family: "Ropa Sans";
    padding-left: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
  /* background-color: #08f; */
    border-bottom: 1px solid rgb(170, 170, 170);
    margin-bottom: 23px!important;
  }
  
  .docbody h3{
    font-size: 34px!important;
    font-family: "Ropa Sans";
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
  
  }
  
  .docbody h4{
    font-size: 28px!important;
    font-family: "Ropa Sans";
    padding-left: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
  /* background-color: #08f; */
    border-bottom: 1px solid rgb(170, 170, 170);
    margin-bottom: 23px!important;
  }
  
  .docbody h5{
    font-size: 22px!important;
    font-family: "Ropa Sans";
    padding-left: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
  /* background-color: #08f; */
    border-bottom: 1px solid rgb(170, 170, 170);
    margin-bottom: 23px!important;
  }
  
  .docbody h6{
    font-size: 18px!important;
    font-family: "Ropa Sans";
    padding-left: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
  /* background-color: #08f; */
    border-bottom: 1px solid rgb(170, 170, 170);
    margin-bottom: 23px!important;
  }
  
  
  .docbody ol{
    margin-top: 20px!important;
    margin-bottom: 20px!important;
    margin-left: 20px!important;
  }
  
  .docbody ol>li{
    margin-left: 20px;
  }
  
  .tocbody ol{
    margin-top: 20px!important;
    margin-bottom: 20px!important;
    margin-left: 20px!important;
  }
  
  .tocbody ol>li{
    margin-left: 20px;
  }
  
  .toc-of-body-all {
    background-color: rgba(229, 230, 228, 0.61)!important;
    /* border-style: dashed; */
    border-width: 1px;
  }
  
  .controls1 {
  
    background-color: rgb(134, 241, 12);
  }
  
  .toc-of-body-all:hover {
    background-color: rgb(255, 255, 255)!important;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
  
  }
  
  .toc-of-body .active{
    background-color: #c4cae2AA;
    border-radius: 6px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 20px;
  }
  
  .toc-of-body .inactive{
    /* background-color: #c4cae2AA; */
    border-radius: 6px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  
  .collapsed {
    /* border-radius: 10px;   */
    background-color: rgba(185, 185, 185, 0.904)!important;
  }
  .outer-scroll {
    
  }
  
  .toc-of-body ul{
    /* height: 50px; */
  }
  
  .expanded{
    /* background-color: aqua!important; */
    height: 75vh!important;
  }
  
  .SpinnerOverlay {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .SpinnerOverlay2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .SpinnerContainer {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(195, 195, 195, 0.6);
    border-radius: 50%;
    border-top-color: #636767;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }